name: Auto Merge develop -> master

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout master with PAT
        uses: actions/checkout@v4
        with:
          ref: master
          token: ${{ secrets.GH_PAT }}

      - name: Configure Git
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"

      - name: Fetch develop
        run: |
          git fetch origin develop

      - name: Merge develop into master
        run: |
          git merge origin/develop --no-ff --allow-unrelated-histories -m "Auto-merge develop into master"

      - name: Push changes using PAT
        run: |
          git push https://x-access-token:${{ secrets.GH_PAT }}@github.com/1995mars/Distributed-Job.git HEAD:master
